<style>
    .main-footer {
        background-color: transparent;/* #7f7f7f94 */
        overflow: hidden;
    }
    .main-footer:after {
        background: url('assets/images/background/footer_background.png');
        /* filter: hue-rotate(3deg); */
        content: "";
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
</style>

<footer class="main-footer main-footer--one">
    <div class="main-footer__inner">
        <div class="container">
            <div class="row contenido_footer">
            

                <div class="col-md-6 col-xl-3">
                    <div class="footer-widget footer-widget--link"><br>

                        <ul class="list-unstyled footer-widget__links">
                            <li class="footer-widget__links__item"><a href="#">Inicio</a></li>
                            <li class="footer-widget__links__item"><a href="#">Institucional</a></li>
                            <li class="footer-widget__links__item"><a href="#">Capacitacion</a></li>
                            <li class="footer-widget__links__item"><a href="#">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="footer-widget footer-widget--about">
                        <h5 class="text-light">Contacto</h5><br>
                        <ul class="list-unstyled footer-widget__info">
                            <li class=""> <span class="footer-widget__info__item__text">Tel: +54 11 5235-3970</span></li>
                            <li class=""> <!-- <i class="icon-telephone-call-1"></i> -->
                            <?php /* include('assets/iconos/telephone-fill.php'); */ ?>
                            <span class="footer-widget__info__item__text">Whatsapp: +54 11 51466977</span></li><!-- <a href="tel:+8801775-338747"> -->
                            <li class=""><!-- footer-widget__info__item --> <i class="icon-email"></i> <span class="footer-widget__info__item__text">ventas@onyva.com.ar</span></li><!-- <a href="mailto:michael.mitc@example.com"> -->
                        </ul>
                    </div>
                </div>



                <div class="col-md-6 col-xl-3">
                    <div class="footer-widget footer-widget--info">
                        <a href="inedx.html" class="footer-widget__logo">
                            <img src="assets/images/logo-onyva-white.png" width="130" alt="footer logo">
                        </a>
                        <!-- <h4 class="">Sede</h4><br> -->
                        <p class="footer-widget__text">
                        Dr. Adolfo Dickman 990 (C1416EHB) CABA Buenos Aires, Argentina  </p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="footer-widget footer-widget--time">
                        <!-- <h4 class="footer-widget__title">Horario de atención</h4> -->
                        <ul class="list-unstyled footer-widget__time footer-widget__horario">
                            <li class="footer-widget__time__item">
                                <p class="footer-widget__day"> <i class="icon-clock1"></i> Horario de atención</p>
                            </li>
                            <li class="footer-widget__time__item">
                                <p class="footer-widget__day"> <i class="icon-clock1"></i> Lunes a Viernes 9 a 18Hs (GMT-3)</p>
                                <!-- <p>9am - 6pm</p> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-footer__bottom">
        <div class="container">
            <div class="main-footer__bottom__inner">
                <p class="main-footer__copyright"> &copy; Copyright <span class="dynamic-year"></span> <!-- 2016-2022 --> ONYVA SRL - Todos los derechos reservados</p>
            </div>
        </div>
    </div>
    <div class="main-footer__shape">
        <img src="assets/images/shapes/footer-shape-1-1.png" alt>
    </div>
    <div class="main-footer__shape main-footer__shape--two">
        <img src="assets/images/shapes/footer-shape-1-2.png" alt>
    </div>

</footer>